@use './variables' as*;

//Background wave curves

.Container {
    position: relative;
    top: 11px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.Darkgreen {
    background-color: $primary-color;
    bottom: 100px;
    z-index: 1;
}

.Lightgreen {
    background-color: $secondary-green;
    bottom: 70px;
    z-index: 2;
}

.Black {
    background-color: $bold-color;
    bottom: 40px;
    z-index: 3;
}

.Orange {
    background-color: orange;
    bottom: 2px;
    z-index: 4;
}

.curve {
    position: absolute;
    width: 150%;
    height: 200px;
    border-radius: 80%;
    left: 50%;
    transform: translateX(-50%);
}

//Cook button

.Cooking-btn {
    display: flex;
    justify-content: center;
}

.Cook-btn {
    position: relative;
    color: black;
    z-index: 4;
    top: 70px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    height: auto;
    width: clamp(160px, 50vw, 220px);
}

.Cook-btn:hover {
    cursor: pointer;
    color: white;
    background-color: $bold-color;
    box-shadow: 0 0 20px 5px orange;
    transition: box-shadow 0.3s ease-in-out;
}

//Social icons

.Social-icons {
    display: flex;
    position: relative;
    bottom: 180px;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    z-index: 5;
    font-size: 1.75rem;
    color: white;
    padding: 0 1rem;

    a {
        color: white;
    }
}

.icon:hover {
    cursor: pointer;
    color: black;
}
